{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Músicas</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
    <header>
        <h1>Músicas</h1>
        {% if user.is_authenticated %}
            <a href="{% url 'logout' %}">Sair</a>
        {% else %}
            <a href="{% url 'cria-usuario' %}">Crie uma conta</a>
            <a href="{% url 'login' %}">Entrar</a>
        {% endif %}
    </header>
    <main>
        {% block content %}
        {% endblock %}
    </main>
</body>
</html>